.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.header-column {
  justify-content: center;
  align-items: center;
}

.column-full,
.column-half {
  width: 100%;
  display: flex;
}

.body-container {
  background-color: #df4242;
  margin: 0 auto;
  width: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}

.column-half {
  width: 50%;
}
